#header, #header_top {
	display: none;
}

.formcreator_form {
	margin: 0 !important;
	width: 100%;
	max-width: inherit !important;
}

.formcreator_form .form-title {
	display: none;
}

.formcreator_form .form_section > h2 {
	display: none;
}

.formcreator_form .form_section .form_field, .formcreator_form .form_section .form_field > input {
	width: 100%;
}

#page {
	margin: 0 !important;
	width: 100% !important;
}

.form_section .line1, .form_section .line0 {
	background: none;
}
